body {
    display: flex;
}

.container {
    width: 100%;
    height: 100%;
}

.main-content{
    height: 100%;
}

/* * * * * * * * * * * Menu Part * * * * * * * * * * * * */
.head-menu {
    display: flex;
    width: 100%;
    height: 20%;
    background: rgb(45, 41, 41);
    align-items: center;
}

.head-menu img {
    order: -1; /* Set the image to display before the anchors */
    margin-right: 10px; /* Add some space between the image and the anchors */
}

.head-menu a {
    /* float: left; */
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all .3s ease-out;
    
}

.head-menu a.active{
    background-color: #9e4b4b;
    border-radius: 5px;
}

.head-menu a:hover {
    background-color: #9e4b4b;
    border-radius: 5px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * Select Data Part * * * * * * * * * * * */
.select-data-menu{
    display: flex;
    width: 100%;
    min-height: 20%;
    justify-content: space-between;
    margin-top: 2px;
    border-top: #3b3a3a 1px solid;
    border-left: #3b3a3a 1px solid;
    border-right: #3b3a3a 1px solid;
    border-radius: 2px;
}

.select-data-menu .select-time-container{
    display: flex;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
}

.select-data-menu .select-time-container .select-time{
    text-align: center;
    width: 65px;
    color: #000000;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.select-data-menu .select-time-container .select-time.active{
    background-color: rgb(45, 41, 41);
    color: white;
    transition: all .3s ease-in-out;
}

.select-data-menu .select-oil-container{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.graph-display {
    height: 630px;
    width: 100%;
    display: flex;
    border: #000000 1px solid;
}

.oilChart {
    width: 90%; /* Occupy 70% of the width */
    border-right: #000000 1px solid;
}

.exchange-container {
    width: 20%; /* Occupy 30% of the width */
    border-left: #000000 1px solid;
    text-align: center;
}

.exchange-container .exchange-tab{
    display: none;
    margin: 7px;
    transition: opacity 1s ease;
}

.exchange-container .exchange-tab.active{
    display: block;
}

.exchange-container .exchange-tab .switch-btn{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.exchange-container .exchange-tab button{
    background-color: transparent;
    border-radius: 20px;
    border: transparent;
    rotate: 90deg;
    cursor: pointer;
}

.exchange-container .convert-btn{
    text-align: end;
    margin-right: 5px;
    margin-bottom: 5px;
}

.exchange-container .convert-btn button{
    font: 15px bold;
    width: 80px;
    height: 20px;
    color: #ffffff;
    background-color: #9e4b4b;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.exchange-container .convert-btn button:active{
    background-color: #000000;
}